@charset "utf-8";
/* CSS Document */

.center_content{
	width:804px;
	height: 750px;
	float:left;
	background: #D8AFB0;
	margin: 5px 0 0 0;
	
}
.chen{
	margin: 5px 0 0 0;
}
.cach_left{
	float: left;
	margin: auto;
	margin-left:  16px;
}