@charset "utf-8";
/* CSS Document */
<style>
body{
	color: #000000;
	background-color: #ffffff;
	font-family: aria, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"sans-serif;
}
h1{color: blue;}
p.one{
	font-family: "Hoefler Text", "Liberation Serif", "Times New Roman", "serif";
	background-color: yellow;
}
p.two{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	background-color: gray;
}
p.three{
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-weight: 900;
	font-size: 20px;
}
